@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; 
    overflow-x: hidden; 
    overscroll-behavior: none;
}

header {
    background-color: white; /* Updated to white background */
    color: black; /* Updated to black text color */
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-family: 'Poppins', sans-serif; /* Use Poppins font for the header */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black; /* Updated to black text color */
}

section { 
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.layer h1,
.layer h2,
.layer p {
    margin: 0;
}

#black {
    background-color: black;
    color: white;
}

.main-page h1 {
    font-size: 120px;
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
}

.main-page h2 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 150;
} 

.main-page h3 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .main-page h1 {
        font-size: 90px; /* Adjust the font size for smaller screens */
    }

    .main-page h2 {
        font-size: 30px; /* Adjust the font size for smaller screens */
    }

    .main-page h3 {
        font-size: 16px; /* Adjust the font size for smaller screens */
    }
}


#white {
    background-color: white;
    color: black;
} 

.section2 {
    color: white;
    font-size: 24px;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .section2 {
        font-size: 18px; /* Adjust the font size for smaller screens */
    }
}

.about-heading {
    color: black;
    font-size: 64px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
}

.about-text {
    padding-top: 60px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 28px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .about-text {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px; /* Adjust the font size for smaller screens */
    }
}


.portfolio-heading {
    color: white;
    font-size: 64px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
}



.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  } 

  #video-background {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
.svg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2; /* Ensure it's above the video */
    margin-bottom: -1px; /* Adjust this value to remove the gap */
}

  .layer1 {
    background-image: url('./assets/');
  }

  .layer2 {
    background-image: url('./assets/layer2.svg');
  }

  .layer3 {
    background-image: url('./assets/layer3.svg');
  } 

  .layer4 {
    background-image: url('./assets/layer4.svg');
  } 

  .layer5 {
    background-image: url('./assets/layer5.svg');
  }

a {
    text-decoration: none;
    color: inherit; 
}


